
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
playwright.config.js
package.json
package-lock.json
tests/package.json
tests/package-lock.json
Service/Userservice.js
/test/payload/api.test.js

